<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">User details</div>
      <div class="panel-body">
        Username: k <br>
        Firstname: k <br>
        Lastname: k <br>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">Add friends</div>
        <div class="panel-body">
          Search by:
          <label class="radio-inline"><input type="radio" name="optradio" (click)="setSearchType('username')">Username</label>
          <label class="radio-inline"><input type="radio" name="optradio" (click)="setSearchType('firstname')">Firstname</label>
          <label class="radio-inline"><input type="radio" name="optradio" (click)="setSearchType('lastname')">Lastname</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search" #stext>
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" (click)="searchFriend(stext.value)"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>

          <div *ngIf="pronadjen">
            Username: {{rezultatPretrage.username}} <br>
            Firstname: {{rezultatPretrage.firstname}} <br>
            Lastname: {{rezultatPretrage.lastname}} <br>
            <button type="button" class="btn btn-primary" (click)="addFriend()">Add friend</button>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Friends</div>
      <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">ok</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Groups</div>
      <div class="panel-body">
          <div *ngFor="let g of groups">
            <div class="panel panel-info">
              <div class="panel-heading">{{g.name}}</div>
              <div class="panel-body">
                <div *ngFor="let u of g.users">
                  {{g.username}}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
