<h1>WebSocket Exaple 1</h1>
        <p>In this example, you connect to a specific WebSocket URL, built with
            the "key" parameter. You will receive the messages sent to the
            server by other sessions with the same "key".</p>
        <p>Also, you can send messages to sessions with other keys using the
            REST endpoint.</p>
        <p>Open some other tabs and try using the same and/or different keys: <a href="example1.html" target="_blank">example1.html</a></p>
        <p><a href="index.html">&lt; Back</a></p>
        <div class="table">
            <div>
                <span>Your Key:</span>
                <input id="keyToConnect" placeholder="K1"/>
            </div>
            <button (click)="connect()" class="button">Connect Using This Key</button>
        </div>
        <div class="table">
            <div>WebSocket message to same key sessions</div>
            <div>
                <span>Message:</span>
                <input id="messageToKey"/>
            </div>
            <button (click)="sendMessageToKey()" class="button">Send To This Key</button>
        </div>
        <form method="post" action="jaxrs/v1/messages/example1/send" class="table">
            <div>REST endpoint to other keys</div>
            <div>
                <span>Other key:</span>
                <input type="text" name="key" placeholder="K2" id="otherKey"/>
            </div>
            <div>
                <span>Message:</span>
                <input type="text" name="message" id="messageToOtherKey"/>
            </div>
            <input type="submit" value="Send To Other Key" onclick="onFormSubmit();" class="button">
        </form>
        <div id="messages"></div>
