<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" id="newCon">New Conversation</button>
    <hr>
    <div class="panel panel-primary collapse" id="demo">
      <div class="panel-heading">Start new conversation</div>
      <div class="panel-body">
        <div class="newConvUsers">
          <div class="checkbox">
            <label><input type="checkbox" value="">Jon</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Steve</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="">Suzan</label>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="usr">Group name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <hr>
        <button type="button" class="btn btn-primary" (click)="sendMsg()">OK</button>
      </div>  
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Conversations</div>
        <div class="panel-body">
          <div class="list-group">
            <a class="list-group-item" (click)="openChat($event)">Jon</a>
            <a class="list-group-item">Steve</a>
            <a class="list-group-item">Suzan</a>
          </div>
        </div>  
      </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Chat</div>
      <div class="panel-body">
        <div class="messages" id="messagesDiv">

        </div>
        <hr>
        <div class="form-group" (keypress)="sendMsg($event,chatbubble.value)">
          <input class="form-control input-lg" type="text" #chatbubble>
        </div>
      </div>  
    </div>
  </div> 
</div>